body {
    min-height: 100vh;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

/* Hero Content */
.herocontainer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 550px;
}

.upperheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.headerlogo {
    display: flex;
    align-items: flex-start;
    margin: auto;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}

.headerlogo,
.links {
    width: 500px;
}

/* Hero header logo */
h2.navbar {
    font-size: 24px;
    color: #f9FAF8;
}

/* Hero header links */
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.maincontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.maintext {
    font: 48px bolder;
    color: #F9FAF8;
}

.secondtext {
    font-size: 18px;
    color: #e5e7ebbe;
    width: 450px;
} 

.secondtext,
.maintext {
    height: 300px;
    width: 500px;
    margin: auto;
}

.imageplace {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: auto;
}

/* Hero bold main text */
h1.hero {
    font: 48px bolder;
    color: #F9FAF8;
}

/* Hero light subtext */
p.hero {
    font-size: 18px;
    color: #e5e7ebbe;
    width: 450px;
}

/* Hero image */
img.hero {
    width: 500px;
    height: auto;
}

.signup {
    display: flex;
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 15px;
}

/* Middle Content */

.midcontainer {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 400px;
    margin: auto;
}

.midheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Middle header bold text */
h1.middle {
    font: 36px bolder;
    color: #1F2937;
}

/* Image boxes */
.boxwrapper {
    display: flex;
}

.box1,
.box2,
.box3,
.box4 {
    display: flex;
    padding: 10px;
    height: auto;
    width: 175px;
    border: solid 5px #3882F6;
    border-radius: 25px;
}

.first,
.second,
.third,
.fourth {
    display: flex;
    padding: 25px;
}

/* Information section text */
.textwrapper {
    display: flex;
    justify-content: space-around;
    width: 1020px;
    margin-top: -40px;
}

.subtext1,
.subtext2,
.subtext3,
.subtext4 {
    display: flex;
    padding: 10px;
    height: auto;
    width: 175px;
    text-align: center;
    font-size: 18px;
    color: #707070;
}

/* Quote section */
.quotecontainer {
    display: flex;
    flex: 2;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.quotewrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin: auto;
    flex-wrap: wrap;
}
/* Quote text */
p.quote {
    font-size: 36px;
    font-style: italic;
    color:  #1F2937;
    font-weight: lighter;
    text-align: left
}

h3.author {
    font-size: 36px;
    font-style: italic;
    color:  #1F2937;
    text-align: end;
    margin-top: -36px;
}

/* Call to action section */
.ctacontainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    flex: 1;
    background-color: #3882F6;
    border: 2px;
    border-radius: 25px;
    height: 150px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 180px;
    margin-right: 180px;
}
.ctawrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    margin: inherit;
}

.ctamain {
    display: flex;
    flex-direction: column;
}

.ctasub {
    display: flex;
}

.ctabutton {
    display: flex;
    justify-content: flex-end;
    margin-top: -60px;
}

/* Call to action text */
h1.ctatime {
    font-size: 20px;
    color: white;
}

p.ctatext {
    color: white;
    margin-top: -16px;
}

/* Call to action button */
.signup2 {
    display: flex;
    background-color: #3882F6;
    border: solid 1px white;
    color: white;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 15px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1F2937;
    height: 120px;
}

p.footer1 {
    font-size: 20px;
    color: white;
    text-align: center;
    justify-content: center;
}
